#game{
    border:1px solid #888;
    cursor: crosshair;
}

.active{
    font-weight: bold;
}

header{
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 1;
    width: 100%;
    line-height: 30px;
}

footer{
    position: fixed;
    bottom: 0;
    background-color: #fff;
    z-index: 1;
    width: 100%;
    line-height: 20px;
}

main{
    margin-top: 35px;
    margin-bottom: 25px;
}

h6{
    margin: 0;
}

button{
    cursor: pointer;
}

input{
    width: 40px;
}

label{
    margin-left: 5px;
}